<div class="cpa-content mdl-layout__content">
  <div class="mdl-typography--text-center">

    <h1> Contact us!</h1>
    <p>address</p>
    <p>number</p>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
