<div class="cpa-content mdl-layout__content">
  <div class="mdl-typography--text-left">
    <div class="text-container">
      <h1>Sample CPA Business Privacy Policy B</h1>
      <br>
      <h4>NOTICE OF THE PRIVACY POLICIES OF</h4>
      <p>Law firms providing financial services, such as estate and tax planning, to individuals are now required by federal law to inform their clients of their policies regarding privacy of client information. We have always safeguarded the confidentiality of information provided to us by our clients and are bound by our professional standards to continue to maintain this vital aspect of our professional relationship.</p>
      <h4>I.  Acquisition of Client Information</h4>
      <p>The firm collects nonpublic personal information about our clients from the following sources:
      </p>
      <ul>
        <li class='privacy-li'>Information You Provide: Our client engagements routinely require us to obtain private information about our clients so that we can proceed with the various services we perform for our clients as part of the professional relationship.</li>
        <li class='privacy-li'>Other Sources: Depending upon the particular service a client has engaged the firm to complete, we may request nonpublic information concerning the matter at hand. However, this information is never obtained without our client’s specific authorization for the type of information and the source(s) from which it may be obtained.</li>
      </ul>
      <br>
      <h4>II. Disclosure of Nonpublic Information</h4>
      <p>Our firm policy is never to disclose nonpublic information about our clients. Nonpublic personal information is defined in the regulations as any publicly available information that we acquire by using information you have provided us in connection with any professional services we perform for you, which is not public information. An example would be a bank account number that is somehow used to acquire information regarding a court trial or other public record that would not have been found by us without using the bank account number acquired from you. In a generic sense, any information that a client provides us that involves financial product or service is likely considered nonpublic personal information and receives the same protection from disclosure as all other information about our clients. For purposes of our business relationships with our clients, all information acquired is disclosed only under the following conditions:</p>
      <ul>
        <li class='privacy-li'><p>Employees of the firm: Employees who need such information to conclude a transaction for which the client has engaged the firm.
        </p> </li>
        <li class='privacy-li'><p>Service Providers: As with any business, we have our own accounting, insurance and other service firms that we may need to provide information that the regulations consider nonpublic personal information. An example might be your account activity for our accounting firm to prepare financial statements for our internal or external purposes. Another example would be computer consultants that must have access to certain client records so as to be able to increase the efficiency of our computer processing systems. We have always insisted that any such information that needed to be disclosed for a business purpose be considered confidential and not used for any purpose other than the specific business need. That well-understood business policy of confidentiality will be reinforced as needed by contractual agreements between such service providers to the firm, referencing the Federal Trade Commission (FTC) regulations.
        </p> </li>
        <li class='privacy-li'><p>Others: Other than as state above, we do not disclose nonpublic personal information, or any other information, to any outside party without specific client authorization. An example would be other professionals who are assisting the firm in carrying our a client engagement. In such a case, we would require the client’s approval for such a disclosure.
        </p> </li>
      </ul>
      <p>In addition to the privacy protection that the new FTC regulations provide you, the Internal Revenue Code prevents the disclosure of client information provided for tax planning or preparation services without the client’s written permission. Further, the ethics rules that govern the operation principles that our firm must follow prohibit disclosing client information.</p>
      <br>

      <h4>III. Security Arrangements</h4>
      <p>We maintain physical, electronic and procedural safeguards that comply with federal regulations to guard our clients’ nonpublic personal information and any other information, to ensure our clients that their privacy is a major part of the firm’s commitment to provide the finest service possible.</p>
      <br>

      <h4>IV.  Opt Out Provision</h4>
      <p>The Federal Trade Commission regulations provide that this notice must include a provision for you to request that the firm not release your nonpublic personal information. While such a request is unnecessary, because the firm does not disclose your nonpublic personal information in a manner that would allow you to opt out, in the interests of satisfying regulations, we include this Opt Out Provision.</p>
      <br>
      <br>
      <p>Please call us at (       ) if you have any questions, because your privacy, our professional standard, and the ability to provide you with quality professional services are very important to us.</p>
    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</div>
