// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homepage_video {
  z-index: -10;
  margin: 0;
  width: 100%;
  height: auto;
}
