<footer class="cpa-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

   <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light">Some nice closing text</p>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <a class="cpa-link cpa-link-menu mdl-typography--font-light" id="version-dropdown">
      Services
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
      <li class="mdl-menu__item">link</li>
      <li class="mdl-menu__item">link</li>
    </ul>
    <a class="cpa-link cpa-link-menu mdl-typography--font-light" id="developers-dropdown">
      For Developers
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
      <li class="mdl-menu__item">Developer resources</li>

    </ul>
    <%= link_to "Blog", root_path, class: "cpa-link mdl-typography--font-light" %>
    <%= link_to "Privacy Policy", '/privacy', class: "cpa-link mdl-typography--font-light" %>
  </div>

</footer>
